.chart-container {
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .chart-table {
    margin-bottom: 20px;
  }
  
  .chart-table h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  thead th {
    background-color: #4CAF50;
    color: rgb(0, 0, 0);
    padding: 8px;
    text-align: left;
  }
  
  tbody td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  table th, table td {
    text-align: center;
    color:  black;
  }

.result-cell{
  padding: 8px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
  font-weight: bold;
}